<html>
  <head>
    <link href="assets/style.css" type="text/css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
  </head>
  <body>
    <h1>Hello World!</h1>
    <form method="POST" action="/person">
      First name: <input type="text" id="firstname" name="firstname" />
      <br/><br/>
      Last name: <input type="text" id="lastname" name="lastname" />
      <br/><br/>
      <input type="submit" value="Submit" />
    </form>
    <script>
      $.ajax({
        type: 'POST',
        url: '/personjson',
        data: JSON.stringify({ firstname: 'Jane', lastname: 'Doe' }),
        dataType: 'json',
        contentType: 'application/json'
      });
    </script>
  </body>
</html>
